body {
  background-color: #000000;
  margin: 0 auto;
  padding: 20px;
}

#video1 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



#video1  iframe,
#video1  object,
#video1 embed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}


.worldmap{
  display:none;
}

.bluetext {
    padding-top:2px;
    font-family: 'Source Serif Pro', serif;
    font-size:18px;
margin-top: 15px;
background-color: #2f8eca;
max-width: 300px;
justify-content: center;
margin:auto;

}

p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin:0;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin:5px;
}

h3{
  font-size:1.5em;
  color: #ffffff;
  margin-bottom:0;
  margin-top:30px;
  font-family: 'Asap Condensed', sans-serif;
}

#pagetitle {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#sectionbody {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item{
  margin-bottom:10px;

}

.item a {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
      background-color: #A9A9A9;
}



#container{
  text-align:center;
  max-width: 1100px;
  margin: 0 auto;
}

#footer{
  color:#ffffff;
  text-align:left;
  background-color: #1F1F1F;
}

#headline{
  border-color: #ffffff;
  border-width: 2px 0 2px 0;
  border-style:solid;
  margin:50px;
}

.map{
  margin:25px 50px 25px 35px;
}

.storylog{
  display:flex;
  flex-direction:row;
  padding:15px 30px 15px 30px;
  margin:20px;
  background-color: #121212;
}

.storylog:hover{
  border-width: 1px;
  border-color:#2F8ECA;
  border-style: solid;
}

.storyheadline{
  margin-left:25px;
}

.storylog p{


  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

.regionalstory a{
  text-decoration:none;
}

.regionalstory a:hover{
  text-decoration: underline;
}


body {
  background-color: #000000;
}



p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

#pagetitle {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#sectionbody {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item{
  margin-bottom:10px;

}

.item a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4A4A4A;
}

.item a:hover {
    background-color: #696969;
}

#container{
  text-align:center;
}

.title {
 font-size: 30px;}

 .storytext{
   text-align: left;
 }

img{

}

#footer{
  color:#ffffff;
  text-align: center;
  background-color: #1F1F1F;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-family:'PT Sans', sans-serif;
}


input[type=submit] {
    background-color: #2F8Eca;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'PT Sans', sans-serif;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.contactus {
    border-radius: 5px;
    background-color: rgb(193,202,216);
    padding: 10px;
    font-family:'PT Sans', sans-serif;
    margin:10px;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.text-center {
    text-align: center;
}
.sectionT h3 {
    margin-bottom: 0;
    letter-spacing: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;

}
.bluetext {
    padding-top:2px;
    font-family: 'Source Serif Pro', serif;
    font-size:18px;
    margin-top: 15px;
    background-color: #2f8eca;
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: 70px;
}



.half-txt {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    line-height: 20px;
    font-color:white;
    line-height:30px;
    letter-spacing: 1px;
}
.text-uppercase {
    text-transform: uppercase;
}


.team-member, .team-member .team-img {
    width:30%;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
      width:100%;
}



h4 {
    text-align: CENTER;
    font-family:  'Vollkorn', serif;
    color:rgb(51,135,190);
    margin-top: 5px;
      margin-bottom: 5px;
}

.team-member a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 1px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    color: white;
    font-size:15px;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}



#video {
  width:100%
  padding: 100px;
  padding:20px;
}
#homestoryflow{
  width:90%;
  background-color:#1f1f1f;
  margin:20px auto;
  padding:1px;
}

#homestoryflow img{
    margin-top: 20px;
    width:90%
}

#storytitle{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: black;
  text-align: left;
  color:#ffffff;
  margin:10px 20px 5px 20px;

}

#storysubtitle{
  font-size: 13px;
  line-height: 1.5;
  text-decoration: gray;
  text-align: left;
  color:#8f8f8f;
  margin:5px 20px 10px 20px;
}

a {
  text-decoration: none;
  color:#ffffff;
}

.storybox img{
  margin-top: 20px;
  width:90%;
}
.storybox{
  margin:20px auto;
  background-color:#1f1f1f;
  width:90%;
  padding:1px;
}

.storybox h4{
  color:#ffffff;
  font-family:'Asap Condensed', sans-serif;
  text-align: left;
  margin:10px 20px 5px 20px;
}

.storybox p{
  margin:5px 20px 10px 20px;
  color:#8f8f8f;
  font-size: 0.75em;
  text-align: left;
}

.team-img img{
  width:60%;
}

#video1 {
  margin-top:100px;
  margin-bottom: 20px;
}


.leave {
  margin-top:70px;
  margin-bottom:30px;
  font-size: 30px;
line-height:30px;
margin-left: auto;
margin-right: auto;
text-align: center;
}


.businesscard {
  background-color: #1F1F1F;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin:0 auto;
    display:none;
}



.menu-trigger {
		order: 1;
		font-size: 2.5em;
		width: 2em;
    padding:10px;
    position: relative;
    top:-60px;
    left:-190px;

}

#headbar h1{
  order:2;
position:relative;
right:-10px;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 0;
    margin:0;
}

#gsnavbox h3{
  color: #2F8ECA;
  margin: 0;
  font-size: 1.3em;
}

#gsnavbox{
  text-align:left;
  display: none;
}



.gsnav{
  text-align: left;
  border-top: 1px solid #ffffff;
  margin-bottom: 50px;
}

.gsnav p{
  margin: 5px;
  font-size: 0.8em;
}

.storylogbox-2{
  display: none;
}


@media screen and (min-width: 700px){

  .navbar{
    display:flex;
    flex-direction:row;
    justify-content: center;
  }


.menu-trigger{
  display: none;
}

#headbar{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width:90%;
  margin: 0 auto;

}


#headbar img{
  width: 100px;
  height: 100px;
}

h1{
  font-size: 3.6em;
  margin:0 auto;
  letter-spacing: 6px;
    font-weight: 180;
}


nav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type: none;
}

nav ul li{

  width:100%;

}

}

@media screen and (min-width: 700px){

  #headline{
    display: none;
  }

  #gsnavbox{
    display:flex;
    flex-flow: column;
  }

  .storylogbox-2{
    display: flex;
    flex-flow: column;
  }

  .map img{
    display: none;
}
  .regionalstory h3{
    text-align: left;
    margin-top: 0;
    margin-left:20px;
  }

  .storylogbox{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    top:-25px;

  }

  .storylog{
        flex-flow: column;
        flex-basis: 0;
        flex-grow: 1;
        margin:8px;
        padding: 10px;
  }

  .storypic img{
    width:100%;
  }

  .more{
    display: none;
  }

  #gsnavbox{
    position: relative;
    top:20px;
    grid-area:a;
  }

  #regionalstorybox{
    grid-area:b;
  }

  #gsgridbox{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 190px 1.5fr;
    grid-template-areas:
        "a b";
  }

  .businesscard{
    display:flex;
    flex-flow:row;


  }

.businesscard img{
  width:30%;
}




.worldmap{
  display:block;
  max-width:500px;
  margin-right:0;
  justify-content:center;
margin-left:auto;
margin-right:auto;
}
.container2 {
  flex-direction: row;
  justify-content: center;
}
}

  }
