body {
  background-color: #000000;
}

.navbar{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin:5px;
}

h3{
  font-size:1.5em;
  color: #ffffff;
  margin-bottom:0;
  margin-top:30px;
  font-family: 'Asap Condensed', sans-serif;
}

#pagetitle {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#sectionbody {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item{
  margin-bottom:10px;

}

.item a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
      background-color: #A9A9A9;
}

.item a:hover {
    background-color: #D3D3D3;
}

#container{
  text-align:center;
}

<<<<<<< HEAD
.title {
  font-size: 30px;
}
.storytext {
=======
#footer{
  color:#ffffff;
  text-align:center;
  background-color: #1F1F1F;
}

#headline{
  border-color: #ffffff;
  border-width: 2px 0 2px 0;
  border-style:solid;
  margin:50px;
}

.map{
  margin:25px 50px 25px 35px;
}

.storylog{
  display:flex;
  flex-direction:row;
  padding:15px 30px 15px 30px;
  margin:20px;
  background-color: #121212;
}

.storylog:hover{
  border-width: 1px;
  border-color:#2F8ECA;
  border-style: solid;
}

.storyheadline{
  margin-left:25px;
}

.storylog p{
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

.regionalstory a{
  text-decoration:none;
}

.regionalstory a:hover{
  text-decoration: underline;
}


body {
  background-color: #000000;
}

.navbar{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

#pagetitle {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#sectionbody {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item{
  margin-bottom:10px;

}

.item a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
      background-color: #A9A9A9;
}

.item a:hover {
    background-color: #D3D3D3;
}

#container{
  text-align:center;
}



img{

}

#footer{
  color:#ffffff;
  text-align: center;
  background-color: #1F1F1F;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-family:'PT Sans', sans-serif;
}


input[type=submit] {
    background-color: #2F8Eca;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'PT Sans', sans-serif;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.contactus {
    border-radius: 5px;
    background-color: rgb(211,211,211);
    padding: 10px;
    font-family:'PT Sans', sans-serif;
    margin:10px;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.heading-title {
    margin-bottom: 50px;
    margin-top: 70px;

}
.text-center {
    text-align: center;
}
.sectionT h3 {
    margin-bottom: 0;
    letter-spacing: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;

}
.p-top-30 {
    padding-top:2px;
    font-family: 'Source Serif Pro', serif;
    font-size:18px;
margin-top: 15px;
background-color: #2f8eca;
opacity: 0.7;
width:60%;
}
.half-txt {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    line-height: 20px;
    color: white;
    line-height:30px;
    letter-spacing: 1px;
}
.text-uppercase {
    text-transform: uppercase;
}


.team-member, .team-member .team-img {
    width:30%;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
      width:100%;
}

.team-hover {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 0px solid rgba(0, 0, 0, 0.1);
    background-color: black;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:100%;
}

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 3;
}

h4 {
    text-align: CENTER;
    font-family:  'Vollkorn', serif;
    color:#2F8ECA;
    margin-top: 5px;
      margin-bottom: 5px;
}

.team-member a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 1px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    color: white;
    font-size:15px;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}



#video {
  width:100%
  padding: 100px;
  padding:20px;
}
#homestoryflow{
  background-color: white;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-left: 2px;
}

#storytitle{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: black;
  background-color: white;
  text-align: left;
}

#storysubtitle{
  font-size: 13px;
  line-height: 1.5;
  text-decoration: gray;
  background-color: white;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.storybox img{
  margin-top: 20px;
}
.storybox{
  margin:20px auto;
  background-color:#1f1f1f;
  width:90%;
  padding:1px;
}

.storybox h4{
  color:#ffffff;
  font-family:'Asap Condensed', sans-serif;
  text-align: left;
  margin:10px 20px 5px 20px;
}

.storybox p{
  margin:5px 20px 10px 20px;
  color:#8f8f8f;
  font-size: 0.75em;
  text-align: left;
}

.team-img img{
  width:60%;
}

#video1 {
  margin-top:30px;
  margin-bottom: 20px;

}


.p-top-31 {
  margin-top:30px;
  font-size: 30px;
line-height:30px;
}


.businesscard {
  background-color: #1F1F1F;
  margin-left: 10px;
  margin-right: 10px;
}
