body {
  background-color: #000000;
}

.navbar{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

#pagetitle {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#sectionbody {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item{
  margin-bottom:10px;

}

.item a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
      background-color: #A9A9A9;
}

.item a:hover {
    background-color: #D3D3D3;
}

#container{
  text-align:center;
}

img{

}

#footer{
  color:#ffffff;
  text-align: center;
  background-color: #1F1F1F;
}

#homestoryflow{
  background-color: white;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-left: 2px;
}

#storytitle{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  color: black;
}

#storysubtitle{
  font-size: 13px;
  line-height: 1.5;
  color: Gray;
}
